footer{
    background-color: @Color2;
    height: 70px;
  }
   footer a{
     align-content: center;
     width: @width;
     color: black;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
   }