*{
  overflow-x: hidden; 
}
.Steps{
  display: flex;
  flex-direction: row;
}

button{
    padding: 5%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin-left: 25%;
    font-size: 1.6rem;
    text-decoration: none;
   }
   
   button{
     background-color: @mainColor;
     width: 50%;
     color: @thrdColor;
     border-color: @mainColor;
     border-radius: 25px;
     margin-bottom: 9px;
     margin-top: 9px;
     }
     h3{
      font-size: 24px; 
      color: red;
      display: flex;
      flex-direction: column;
    }
     h2{
        font-size: 35px;
        color: black;
      }
      h3{
        color: #F6f7d7;
      }
    
    
     h4{
        font-size: 32px;
        color: @mainColor;
      }
      h5{
        font-size: 25px;
        color: @mainColor;
      }
      .web{
        margin-bottom: @mrginbottom;
      }

      .contact2{
        background-color: @thrdColor;
      }

      @media(max-width: 1000px){
         nav a{
         color: @thrdColor;
         }
       .Steps .box{
         display: Flex;
         justify-content: center;
       }
       .top-content{
         display: flex;
       flex-direction: center;
       }
      }
     // media for 1000px ends//
     
     // media 800px Begins//
     @media (max-width: 800px){
         .Steps{
         display: flex;
         flex-direction: column;
         margin-bottom: 30px;
         color: @thrdColor;
         text-align: center;
         font-size: 25px;
       }
      .box{
        margin-bottom: 10px;
        border-radius: 7px;
        width: 50%;
      }
      }
       // media 500px begins//
       @media (max-width: 500px) {
        .Steps{
          display: flex;
          flex-direction: column;
          color: #F6f7d7;
          text-align: center;
          font-size: 25px;
        }
        .box{
          margin-bottom: 10px;
          border-radius: 5px;
        }
        }
       
      