button{
    padding: 5%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin-left: 25%;
    font-size: 1.6rem;
    text-decoration: none;
   }
   
   button{
     background-color: @mainColor;
     width: 50%;
     color: @thrdColor;
     border-color: @mainColor;
     border-radius: 25px;
     margin-bottom: 9px;
     margin-top: 9px;
     }

     h4{
        font-size: 32px;
        color: @mainColor;
      }
      h5{
        font-size: 25px;
        color: @mainColor;
      }
      .web{
        margin-bottom: @mrginbottom;
      }

      .contact{
        text-align: center;
        justify-content: center;
      }
     