.cashpic img{
  width: @width;
  }
  
  .top-content{
    margin-top: 5%;
    width: 75%;  
}

  .button{
    background-color: @mainColor;
    width: 35%;
    height: 20%;
    }

.arrow{
 display: none;
}

.contact{
  text-align: center;
  justify-content: center;
}
.web{
  display: flex;
  flex-direction: column;
  align-items: center;
}